body {
  background-color: #181818;
  color: white;
}

/* LoginBar */

header.header_auth {

  background-color: #404040;
  padding: 1rem;
  margin: auto;
  max-width: 100%;
  
}

.header_form {
  display: flex;
  justify-content: right;
}

.login_item {
max-width: 20%;
margin-right: 0.5rem;
}

.login_button {
 border: none;
 background-color: white;
}

.login_item_valid {
  border-color: green;
  border-width: 0.4rem;
}

.login_item_invalid {
  border-color: red;
  border-width: 0.4rem;
}

.login_button:hover {
  background-color: rgb(230, 172, 64);
}

